@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(Sprite-0002.png);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  text-align: center;
}

/* Muevo el h1 dentro de wrapper */
.wrapper h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  text-align: left;
}

label {
  font-size: 16px;
  margin-bottom: 6px;
  display: block;
  color: #fff;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #fff;
}

input::placeholder {
  color: #ccc;
}

#login-button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#login-button:hover {
  background-color: #ddd;
}

p {
  margin-top: 20px;
  font-size: 14.5px;
  color: #fff;
  text-align: center;
}

p a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
